$color-primary: #1e213a;
$color-secundary: #100e1d;
$color-grey: #6e707a;

$font: 'Raleway', sans-serif;

@function porcentaje($width) {
  @return $width * 100%/1440;
}
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: $font;
}
body {
  display: flex;
}
